<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hitb.hlp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HLP!</name>
    <description>
      Frienly neighborhood help app.
    </description>
    <author email="hitb@th-d.nl" href="https://github.com/thijsh/HLP-">
      HITB SNE team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/icon.png" />
    <platform name="firefoxos">
    	<icon src="www/img/icon-128.png" width="128" height="128" />
    </platform>
</widget>
